@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --dark-grey: #D9D9D9;
    --grey: #F4F3F3;
    --light-grey: #F2F2F2;
    --dark: #000000;
    --white: #FFFFFF;
    
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.all-content {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

/* NAVBAR MENU HAUT DE PAGE */

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 77px 15px 55px;
}

#logo {
    width: 61.09px;
    height: 19px;
}

header a {
    display: flex;
    align-items: center;
}

nav.menu {
    width: 381px;
    display: flex;
    justify-content: flex-end;
}

nav.menu a {
    text-decoration: none;
    color: #000000;
    padding-top: 48px;
    padding-bottom: 59px;
    margin-left: 67px;
    border-top: 2px solid transparent;
}

nav a:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

/* MAIN EN-TETE */ 

.intro {
    margin-left: 55px;
}

.intro h1 {
    margin-bottom: 0.5rem;
}

/* SEARCH BAR */

.bloc-search {
    margin-left: 55px;
    margin-top: 20px;
}

.search-form {
    display: flex;
    max-width: 100%;
    margin-top: 1.25rem;
}

span.searchFormIcon {
    background-color: var(--grey);
    padding: 1rem 1.25rem;
    text-align: center;
    border-radius: 0.938rem 0 0 .938rem;
}

.search-form input[type="text"] { 
   border: 1px solid var(--light-grey);
   font-weight: 700;
   padding-left: 1rem;
   font-size: 18px;
   border-right: none;
   border-left: none;
}

.search-form input::placeholder {
    color: var(--dark);
}

.search-form button {
    background-color: var(--blue);
    color: var(--white);
    width: 8.25rem;
    border: 1px solid #0065FC;
    border-radius: 0 1rem 1rem 0;
    font-weight: 700;
    font-size: 1.125rem;
    opacity: 0.9;
    transition: transform 210ms;
    cursor: pointer;
}

.search-form button:hover {
    opacity: 1;
    transform: scale(1.03);
}

.search-form button .fas.fa-search {
    display: none;
}

/* FILTER */

.filter-list {
    margin: 2rem 0 2.188rem 3.875rem;
    display: flex;
    align-items: center;
    gap: 1rem;   
    flex-wrap: wrap;
}
    
.filter-list h2 {
    font-size: 1.125rem;
    margin-right: 1.063rem;
}

.filter-list .filter {
    display: flex;
    align-items: center;
    border: 2px solid var(--dark-grey);
    padding: 0.25rem 1.25rem;
    border-radius: 1.563rem;
    cursor: pointer;
}

.filter-list .filter:hover {
    background-color: var(--light-blue);
    transform: scale(1.05);
    transition: transform 0.4s;
}

.filter i {
    color: var(--blue);
    font-size: 1.375rem;
}

.filter span {
    margin: 0.625rem 0 0.625rem 0.625rem;
    font-size: 1.063rem;
    font-weight: 700;
}

/* LOGEMENT */

.logement {
    display: flex;
    align-items: center;
    margin-bottom: 2.438rem;
    margin-left: 3.688rem;
    gap: 11px;
}

.logement i {
    border: 1px solid var(--dark-grey);
    font-size: .8rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center; 
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* APARTMENTS LIST */

.apartments-list {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin: 0 3.125rem;
}

.apartments-list .container-city, .apartments-list .container-popular  {
    background-color: var(--light-grey);
    border-radius: 1.25rem;
}

.blue {
    color: var(--blue);
    font-size: 0.75rem;
}

.grey {
    color: var(--light-grey);
    font-size: 0.75rem;
}

/* LIST APPARTEMENTS CITY */

.apartments-list .container-city {
    padding: 42px 30px 46px 30px;
    width: 65%;
}

.container-city h2 {
    margin: 0rem 0rem 1.438rem 0rem;
    font-size: 1.375rem;
}

.container-city a {
    text-decoration: none;
    color: #000000;
}

.result-hebergements-l1,
.result-hebergements-l2 {
    display: flex;
    justify-content: space-around;
    gap: 1.438rem;
    width: 100%;
    max-height: 220px;
    margin-bottom: 40px;
}

.apartments-card {
    margin-top: 23px;
    background: var(--white);
    border-radius: 1.25rem;
    width: 33%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border: 5px solid var(--white);
}

.apartments-card:hover {
    transform: scale(1.05);
    transition: transform 0.35s ease-in-out;
}

.apartments-card img {
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    width: 100%;
    height: 60%;
}

.describe-apartments {
    display: flex;
    flex-direction: column;
    /* margin-top: 1%; */
    margin-left: 2.8%;
    margin-bottom: 0.2%;
    width: max-content;
}

.describe-apartments h3 {
    font-size: 1.1vw;
}

.describe-apartments p {
    font-size: 1.1vw;
    margin-bottom: 4%;
}

.apartments-card .stars {
    display: flex;
    margin-left: 2.8%;
    margin-bottom: 0.5%;
}

.more {
    font-weight: bold;
    font-size: 1.1rem;
}

/* POPULAR */

.container-popular {
    padding: 41px 30px 34px 30px;
    width: 30%;
}

.top-popular {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.top-popular h2 {
    font-size: 20px;
}

.top-popular i {
    color: blue;
    font-size: 1.125rem;
}

.result-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.popular-card {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    border-radius: 1.25rem;
    margin-top: 23px;
    width: 100%;
    height: 150px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.popular-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.popular-card a {
    text-decoration: none;
    color: var(--black);
    display: flex;
}

.popular-card img {
    border: 5px solid var(--white);
    border-radius: 1.25rem 0 0 1.25rem;
    width: 37%;
    object-fit: cover;
}

.popular-card .card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 22px 12px 15px;
    width: 169px;
}

.card-right h4 {
    font-size: .9em;
    margin-bottom: 6%;
}

.card-right p {
    font-size: 13px;
}

.popular-notes {
    display: flex;
}


/* ACTIVITY MARSEILLE */

#activity {
    padding: 60px 53px 61px 50px;
}

.titre-activity {
    font-size: 1.375rem;
    margin-bottom: 2.125rem;
}

.result-activity {
    display: flex;
    flex-direction: row;
    gap: 2.688rem;
    margin-top: 1.125rem;
}

.card-activity {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 1.25rem;
    background: #FFFFFF;
    width: 24%;
    height: 444.51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-activity:hover {
    transform: scale(1.05);
    transition: transform ease-in-out .4s;
}

.card-activity a {
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.card-activity img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 389px;
    object-fit: cover;
}

.card-activity h3 {
    height: 3.438rem;
    margin-left: 1.188rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

/* FOOTER */

footer {
    background-color: var(--light-grey);    
    margin-left: 48px;
    margin-right: 53px;
    padding: 30px 70px 50px 70px;
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .section-footer {
    display: flex;
    width: 100%;
}

footer h3 {
    margin-bottom: 1.25rem;
}

footer li {
    margin-bottom: 0.75rem;
}

footer a {
    text-decoration: none;
    color: var(--dark);
}


/* RESPONSIVE TABLETTE */

@media all and (max-width: 992px) {

    /* FILTERS */

    .filter-list {
            margin-right: 24px;
    }

    .filter span {
        margin: 0.625rem 0 0.625rem 0.625rem;
        font-size: 1.22vw;
        font-weight: 700;
    }

    /* CARD HEBERGEMENT */

    .apartments-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.313rem;
    }

    .apartments-list .container-city {
        margin: 0 auto;
        width: 100%;
    }

    .apartments-card h3 {
        font-size: 14px;
        margin-bottom: 0.2rem;
    }

    .apartments-card p {
        font-size: 11px;
    }

    /* MOST POPULAR */

    .apartments-list .container-popular {
        margin: 0 auto;
        width: 100%;
    }

    .result-popular {
        flex-direction: row;
    }

    .apartments-card, .card-popular {
        width: 33%;
    }

    /* ACTIVITY A MARSEILLE */

    .container-activity {
        width: 100%;
    }

    .card-activity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 267px; 
    }

    .card-activity img {
        height: 221px;
    }

    .card-activity h3 {
        font-size: 1.5vw;
        margin-right: 0.45rem;
        margin-left: 0.8rem;
    }

}

/* RESPONSIVE MOBILE */ 

 @media screen and (max-width: 768px) {

    .all-content {
        border: 6px solid blue;
    }
 }
