@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --dark-grey: #D9D9D9;
    --grey: #F4F3F3;
    --light-grey: #F2F2F2;
    --dark: #000000;
    --white: #FFFFFF;
    
}

html {
    max-width: 1400px;
    min-width: 992px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

nav #logo {
    width: 3.818rem;
    height: 1.188rem;
    margin: 2.75rem auto 3.313rem 3.438rem;
}

nav a {
    border-top: 2px solid transparent;
    padding: 3rem 1.5rem;
}

nav > a {
    margin-right: 4.188rem;
}

nav a:last-child {
    margin-right: 0;
}

nav a:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

/* MAIN EN-TETE */

.wrapper {
    margin-left: 3.438rem;
    margin-top: 1rem;
}

.wrapper h1 {
    font-size: 1.375rem;
}

.wrapper p {
    margin-top: 0.5rem;
}

.search-form {
    display: flex;
    max-width: 100%;
    margin-top: 1.25rem;
}

span.searchFormIcon {
    background-color: var(--grey);
    padding: 1rem 1.25rem;
    text-align: center;
    border-radius: 0.938rem 0 0 .938rem;
}

.search-form input[type="text"] { 
   border: 1px solid var(--light-grey);
   font-weight: 700;
   padding-left: 1rem;
   font-size: 18px;
   border-right: none;
   border-left: none;
}

.search-form input::placeholder {
    color: var(--dark);
}

.search-form button {
    background-color: var(--blue);
    color: var(--white);
    width: 8.25rem;
    border: 1px solid #0065FC;
    border-radius: 0 1rem 1rem 0;
    font-weight: 700;
    font-size: 1.125rem;
    opacity: 0.9;
    transition: transform 210ms;
    cursor: pointer;
}

.search-form button:hover {
    opacity: 1;
    transform: scale(1.03);
}

.search-form button .fas.fa-search {
    display: none;
}

/* FILTER */

.filter-list {
    margin-top: 2.875rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2.188rem;
}
    
.filter-list h2 {
    font-size: 1.125rem;
    margin-right: 2rem;
}

.filter-list .filter {
    display: flex;
    align-items: center;
    border: 2px solid var(--dark-grey);
    padding: 0.25rem 1.25rem;
    border-radius: 1.563rem;
    cursor: pointer;
}

.filter-list .filter:hover {
    background-color: var(--light-blue);
    scale: 1.05;
    transition: scale 0.4s;
}

.filter i {
    color: var(--blue);
}

.filter span {
    margin: 0.625rem 0 0.625rem 0.625rem;
    font-size: 1.063rem;
    font-weight: 700;
}

/* LOGEMENT */

.logement {
    display: flex;
    align-items: center;
    margin-bottom: 2.438rem;
}

.logement i {
    border: 1px solid var(--dark-grey);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center; 
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logement p {
    margin-left: 0.688rem;  
}

/* APARTMENTS LIST */

.apartments-list {
    display: flex;
    gap: 2.5rem;
}

.apartments-list .city {
    flex-basis: 66%;
    background-color: var(--light-grey);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    gap: 1.938rem;
    margin-left: 1.3rem;
    height: 626px;
    width: 880px;
}


.apartments-list .popular {
    flex-basis: 33%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--light-grey);
    width: 420px;
    height: 625px;
}

/* LIST APPARTEMENTS CITY */

.city-apartments-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.apartments-list h2 {
    padding: 1rem;
    font-size: 1.375rem;
}

.city-apartments-list .apartments-card {
    background-color: var(--white);
    border: 1px solid none;
    border-radius: 1rem;
    flex-basis: calc(33%-1rem);
    min-width: 16rem;
    padding: 0.345rem;
}

.city-apartments-list .apartments-card:hover {
    scale: 1.05;
    transition: scale 0.5s ease-in-out;
}

.apartments-card img {
    width: 100%;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.describe-apartments h3 {
    font-size: 1rem;
    margin: 0.25rem 1.625rem 0.563rem 1rem;
}

.describe-apartments .night {
    margin: 0.563rem 1.625rem 0.563rem 1rem;
    font-size: 0.875rem;
}

.describe-apartments .stars {
    margin: 0.563rem 0rem 0.688rem 1rem;
}

.stars .blue {
    color: var(--blue);
}

.stars .grey {
    color: var(--light-grey);
}

.city a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

/* POPULAR */

.top-popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apartments-list .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 2.063rem;
    flex-wrap: wrap;
}

.top-popular h2 {
    font-size: 1.375rem;
    margin-bottom: 1.625rem;;
}

.top-popular .fas.fa-chart-line {
    font-size: 1.3rem;
    color: var(--blue);
    margin-bottom: 1.625rem;
}


.popular-card {
    display: flex;
    background-color: white;
    padding: 0.4em;
    border-radius: 1em;
    margin-left: 1.5rem;
    margin-right: 3rem;
}

.popular-card:hover {
    scale: 1.05;
    transition: scale 0.5s ease-in-out;
}

.popular-card:last-child {
    margin-bottom: 3rem;
}

.popular-card:last-child h3 {
    margin-bottom: -1.2rem;
}

.popular-card img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.describe-popular h3 {
    font-size: 1rem;
    margin: 0.375rem 1.375rem 0.438rem 0.938rem;
    width: 10.563rem;
    height: 2.375rem;
    color: var(--dark);
}

.describe-popular .price {
    font-size: 0.875rem;
    margin: 0.438rem 1.375rem 2.75rem 0.938rem;
    color: var(--dark);
}

.describe-popular .stars {
    margin: 2.75rem 0 0.20rem 0.938rem;
}

/* ACTIVITY MARSEILLE */

h3#activity {
    font-size: 1.375rem;
    margin: 3.75rem 0rem 1.154rem 1.2rem;
}

.card-activity {
    display: flex;
    gap: 2.688rem;
}

.activity-marseille .cadre-rectangle {
    width: 18.875rem;
    height: 27.782rem;
    border: 1px solid var(--dark-grey);
    border-radius: 1.25rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activity-marseille .cadre-rectangle:hover {
    scale: 1.05;
    transition: scale 0.4s ease-in-out;
}

.cadre-rectangle .card-img {
    height: 90%;
}

.cadre-rectangle .card-img img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activity-marseille a {
    text-decoration: none;
    color: var(--dark);
}

.cadre-rectangle .card-describe {
    height: 10%;
}

.card-describe h3 {
    font-size: 1rem;
    margin: 0.70rem 0 1.313rem 1.188rem;
}

/* FOOTER */